*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: 'Sora', sans-serif; 
  }

  .revealed {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .revealed:nth-child(even) {
    transition-delay: 0.2s; /* Adjust delay as needed for staggered animation */
  }
  