:root { 
--gray_600:#71717a; 
--gray_900_02:#1c1c1c; 
--deep_orange_A100:#ff9581; 
--blue_gray_100:#d4d4d8; 
--blue_gray_50:#edefef; 
--blue_gray_500:#667084; 
--gray_900:#241715; 
--gray_900_01:#0e1729; 
--black_900_01:#000001; 
--black_900:#000000; 
--teal_700:#027269; 
--blue_gray_800:#2b454e; 
--blue_gray_900:#1a2e35; 
--white_A700:#ffffff; 
}
