
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SoraSemiBold.ttf"); font-family : "Sora"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SoraBold.ttf"); font-family : "Sora"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SoraRegular.ttf"); font-family : "Sora"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SoraExtraBold.ttf"); font-family : "Sora"; font-weight : 800;  }